<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form name="form1" method="POST" action="/inventory/add">
	    <table>
	        <tr>
		        <td>Inventory Name: </td>
				<td><input type="text" name="invName" ></td>
	        </tr>
	        <tr>
		        <td>Inventory Type: </td>
		        <td><input type="text" name="invType" ></td>
	        </tr>
	        <tr>
		        <td>Inventory Count: </td>
		        <td><input type="number" name="invCount" value="1"></td>
	        </tr>
	        <tr>
		        <td>Storage Area: </td>
		        <td><input type="text" name="invArea"></td>
	        </tr>
	        <tr>
		        <td>Shelf Number: </td>
		        <td><input type="number" name="invShelfNum" value="1"></td>
	        </tr>
	        <tr>
	        		<td colspan="2"><input type="submit" value="Save" ></td>
	        </tr>
	    </table>
    </form>
  </body>
</html>